* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  margin: 0;
  padding: 0;
  touch-action: none;
  background: #ccc;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.toolbar {
  height: 3rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

input, button {
  font-size: 100%;
  margin: 0 0.25rem; 
  padding: 0;
}

input[type="color"] {
  width: 2.5rem;
}

input[type="color"],
button {  
  display: block;
}

input[type="range"] {
  width: 5rem;
}

button {
  user-select: none;
  padding: 0.25rem;
}

label {
  position: relative;
  bottom: 2.5px;
  user-select: none;
}

#share,
#contacts,
#copy,
#paste,
#scan,
#wakelock,
label[for="wakelock"],
#ephemeral,
label[for="ephemeral"],
#periodicbackgroundsync {
  display: none;
}

@media (prefers-color-scheme: dark) {
  canvas {    
    background-color: #000;
    width: 100%;
    height: 100%;
  }
}
